Source: libtertiusqbit-graphviz-perl
Section: perl
Priority: extra
Maintainer: Dmitry Lukiyanchuk <wtertius@gmail.com>
Build-Depends: debhelper (>= 8.0.0), perl, libtertiusqbit-perl, libgraphviz-perl
Standards-Version: 3.9.4

Package: libtertiusqbit-graphviz-perl
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}, ${perl:Depends}, perl, libtertiusqbit-perl, libgraphviz-perl
Conflicts: libqbit-graphviz-perl
Replaces: libqbit-graphviz-perl
Description: QBit wrapper on Graphviz.
 QBit wrapper on Graphviz. It work with UTF-8 characters.
